        <div class="card mb-4">
            <div class="card-header">
                {{ post.date_pub }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.body|truncatewords:25 }}</p>
                <a href="{{ post.get_absolute_url }}" class="btn btn-light">Read more</a>
            </div>
            {% if post.tags.count != 0 %}
            <div class="card-footer text-muted">
                tags:
                {% for tag in post.tags.all %}
                    <a href="{{ tag.get_absolute_url }}" class="btn btn-light">{{ tag.slug }}</a>
                {% endfor %}
            </div>
            {% endif %}
        </div>