.admin-panel {
    border: 1px solid gray;
    border-radius: 3px;
    position: fixed;
    right: 60px;
    bottom: 30px;
    padding: 10px;
    opacity: 0.3;
}

.admin-panel:hover {
    opacity: 0.7;
}

.admin-panel a {
    display: block;
    margin: 5px 0px;
}

a.delete, a.edit {
    display: none;
}