{% extends 'blog/base_blog.html' %}

{% block title %}
    Posts list
{% endblock %}

{% block content %}
    <h2 class="mb-3">Posts:</h2>
    {% for post in page_object.object_list %}
        {% include 'blog/includes/post_card_template.html' %}
    {% endfor %}
{% endblock %}

{% block pagination %}
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item {% if not page_object.has_previous %}disabled{% endif %}">
                <a class="page-link" href="?page={{ page_object.number|add:-1 }}&search={{ search_query }}" tabindex="-1">Previous</a>
            </li>
            {% for n in page_object.paginator.page_range %}
                {% if page_object.number == n %}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ n }}&search={{ search_query }}">{{ n }}</a>
                    </li>
                {% elif n > page_object.number|add:-4 and n < page_object.number|add:4 %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ n }}&search={{ search_query }}">{{ n }}</a>
                    </li>
                {% endif %}
            {%  endfor %}
            <li class="page-item {% if not page_object.has_next %}disabled{% endif %}">
                <a class="page-link" href="?page={{ page_object.number|add:1 }}&search={{ search_query }}">Next</a>
            </li>
        </ul>
    </nav>
{% endblock %}